- a = Austin PD
- m = Metro LMVPD
- t = Troxell

The reason why it's best practice to enter True/Flase questions in as 1 and 0 is both for constantsy and speed.

- What would be interesting is find out how this thinking correlates to officers, like if they answer true on these 7 and false on these 8, they are 80% likely to get a promotion. etc

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("police.csv")

### Preprocess

In [3]:
# Sample first 5 records in the data
df.head()

,group,officer_handled,citizen_handled,race_based,greivance,arrest_person,officer_disciplined,offcier_charged,citizen_charged,gender,handled_officer,handled_citizen,officer_power,citizen_power,you_better,force_justified,last_resort?,comfortable,negative_interaction,positive_interaction
0,a,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
1,a,0.0,0.0,NaN,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2,a,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,a,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
4,a,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0

In [4]:
# Removes rows with missing values
df = df.dropna()
df.head()

,group,officer_handled,citizen_handled,race_based,greivance,arrest_person,officer_disciplined,offcier_charged,citizen_charged,gender,handled_officer,handled_citizen,officer_power,citizen_power,you_better,force_justified,last_resort?,comfortable,negative_interaction,positive_interaction
0,a,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
2,a,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,a,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
4,a,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
5,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0

In [5]:
df_cat = df.loc[:, 'group'] 
df = df.loc[:, 'officer_handled':'positive_interaction'].applymap(int).head()
df['group'] = df_cat

df.head

,officer_handled,citizen_handled,race_based,greivance,arrest_person,officer_disciplined,offcier_charged,citizen_charged,gender,handled_officer,handled_citizen,officer_power,citizen_power,you_better,force_justified,last_resort?,comfortable,negative_interaction,positive_interaction,group
0,0,0,0,1,0,1,1,0,1,1,1,1,1,1,0,0,0,1,1,a
2,0,0,1,1,0,1,0,0,0,1,1,1,1,1,0,0,0,0,1,a
3,0,0,0,1,0,1,0,1,0,1,1,1,1,1,0,1,0,1,1,a
4,0,0,1,1,0,1,1,0,0,1,1,1,1,1,0,0,0,0,1,a
5,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,1,0,1,a

In [6]:
df_bool['group'] = df_cat

df_bool.head()

,officer_handled,citizen_handled,race_based,greivance,arrest_person,officer_disciplined,offcier_charged,citizen_charged,gender,handled_officer,handled_citizen,officer_power,citizen_power,you_better,force_justified,last_resort?,comfortable,negative_interaction,positive_interaction,group
0,0,0,0,1,0,1,1,0,1,1,1,1,1,1,0,0,0,1,1,a
2,0,0,1,1,0,1,0,0,0,1,1,1,1,1,0,0,0,0,1,a
3,0,0,0,1,0,1,0,1,0,1,1,1,1,1,0,1,0,1,1,a
4,0,0,1,1,0,1,1,0,0,1,1,1,1,1,0,0,0,0,1,a
5,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,1,0,1,a

### Crosstab
- This cross tab section will show us how the different groups compare on their answers.
- For example on this crosstab, officers from austin and Troxell gave higher rates of true responses for how the officer_handled column.

In [7]:
pd.crosstab(df['group'], df['officer_handled'])

officer_handled  0.0  1.0
group
a                 25    5
m                  9   25
t                 62   15

In [8]:
pd.crosstab(df['group'], df['race_based'])

race_based  0.0  1.0
group
a            20   10
m            14   20
t            48   29

In [9]:
pd.crosstab(df['group'], df['you_better'])

you_better  0.0  1.0
group
a             5   25
m            21   13
t            14   63

In [10]:
pd.crosstab(df['group'], df['comfortable'])

comfortable  0.0  1.0
group
a             18   12
m              1   33
t             43   34

In [11]:
pd.crosstab(df['group'], df['force_justified'])

force_justified  0.0  1.0
group
a                 19   11
m                 15   19
t                 16   61

In [12]:
pd.crosstab(df['group'], df['positive_interaction'])

positive_interaction  0.0  1.0
group
a                       3   27
m                       3   31
t                       3   74

In [13]:
df_numeric = df.loc[:, 'officer_handled':'positive_interaction'].applymap(int).head()

df_numeric

,officer_handled,citizen_handled,race_based,greivance,arrest_person,officer_disciplined,offcier_charged,citizen_charged,gender,handled_officer,handled_citizen,officer_power,citizen_power,you_better,force_justified,last_resort?,comfortable,negative_interaction,positive_interaction
0,0,0,0,1,0,1,1,0,1,1,1,1,1,1,0,0,0,1,1
2,0,0,1,1,0,1,0,0,0,1,1,1,1,1,0,0,0,0,1
3,0,0,0,1,0,1,0,1,0,1,1,1,1,1,0,1,0,1,1
4,0,0,1,1,0,1,1,0,0,1,1,1,1,1,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,1,0,1

In [14]:
# How many rows the dataset
#df.count()

df = df['officer_handled'].apply (lambda x: x/100.00)
df.head (5)

0    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: officer_handled, dtype: float64

# Totals
- Compares overall totals.
- For a baseline, remember most of our results came from Troxell so total results should be weighted.

In [18]:
df.count()

141

In [16]:
# Baseline
df.value_counts()

0.00    96
0.01    45
Name: officer_handled, dtype: int64

In [ ]:
df.loc[:, 'officer_handled':'positive_interaction'].apply(np.argmax, axis=1).head()

In [ ]:
l = []
def gogo(i):
    l.append(i)
    return l

In [ ]:
# df.loc[:, 'officer_handled':'positive_interaction'].apply(max, axis=0)
df.loc[:, 'officer_handled':'positive_interaction'].apply(gogo, axis=0)

In [ ]:
# Rename colum headers
headers = {'group': 'departments'}
df = df.rename(columns=headers)

In [ ]:
# Pandas will convert true and false to a number and total them. 
pd.Series([True, False, True]).sum()

In [ ]:
# use 'np.argmax' to calculate which column has the maximum value for each row
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1).head()

In [ ]:
# Rename department abbrevations
departments = {'a':'Austin PD', 'm':'Metro LMVPD', 't':'Troxell'}
df = df.replace(to_replace=departments)
df.head()

In [ ]:
%matplotlib inline
df['officer_handled'].plot('pie')
sum = df['officer_handled'].sum()
count = df['officer_handled'].count()

print(sum)
print(count)

In [ ]:
true = df.officer_handled.value_counts() == 1

#df.officer_handled.mean()

#df.groupby('officer_handled').count()

# Groupbys

In [ ]:
# Survey Counts
df.groupby('departments')['citizen_handled'].count()

In [ ]:
df.groupby('departments')['citizen_handled'].value_counts()

# Crosstabs

In [ ]:
# maybe divide these numbers later
pd.crosstab(df['departments'], df['officer_handled'])

In [ ]:
df.describe().T

In [ ]:
df.info()

In [ ]:
import seaborn as sb
sb.set_context("notebook", font_scale=2.5)

from matplotlib import pyplot as plt

%matplotlib inline

sb.pairplot(df, size=3)